{% extends "base.html" %}

{% block title %}SOCE Data Extractor{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Extractor de Administradores de Contrato</h1>
        <form id="uploadForm" action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Selecciona un archivo Excel:</label>
                <input type="file" class="form-control" id="file" name="file" accept=".xlsx" required>
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top: 15px">Subir el archivo</button>
        </form>
        <div id="loading" class="mt-3">
            <div class="spinner-border" role="status">
                <span class="sr-only"></span>
            </div>
            <span> Extrayendo datos...</span>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $('#uploadForm').on('submit', function(e) {
        e.preventDefault(); // Prevent the default form submission
        document.getElementById('loading').style.display = 'block'; // Show loading spinner

        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: new FormData(this), // Use FormData for file uploads
            processData: false, // Prevent jQuery from processing the data
            contentType: false, // Prevent jQuery from setting content type
            success: function(data, status, xhr) {
                // Create a link element to download the file
                var blob = new Blob([data], { type: xhr.getResponseHeader('Content-Type') });
                var link = document.createElement('a');
                link.href = window.URL.createObjectURL(blob);
                link.download = xhr.getResponseHeader('Content-Disposition').split('filename=')[1]; // Get filename from header
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
                document.getElementById('loading').style.display = 'none'; // Hide loading indicator
            },
            error: function() {
                alert('Un error ha ocurrido, vuelva a intentar.');
                document.getElementById('loading').style.display = 'none'; // Hide loading indicator
            }
        });
    });
</script>
{% endblock %}